<div id="blog-post">
  <div id="blog-center">
    <div class="card">
      <div class="card-img"></div>
      <div class="card-img background-white"></div>
      <div class="card-img-overlay">
        <div class="user actions">
          <button id="edit-post-button">✎ edit</button>
          <button id="delete-post-button">delete</button>
        </div>
        <div id="blog-title">
          <h5 class="card-title">Blog Title</h5>
        </div>
        <div id="blog-content">
          <p class="card-text">{{this.text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="header-div">
  <h3 class="comment-header">Comments</h3>
</div>

<div id="add-comment">
  <form>
    <div class="mb-3">
      <textarea class="form-control" placeholder="Add comment..."></textarea>
    </div>
  </form>
</div>

<div class="submit-section">
  <button type="submit" class="btn wide-button" id="comment-button">Post</button>
</div>

<div class="comment-section">
  {{#each }}
  <div id="comment-div">
    <div class="card mb-3" id="comment">
      <div class="card-header">
        <p>Name</p>
        <p>timestamp</p>
      </div>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>